# Ignore raw R2DT outputs
outputs/*_jsons/

# Ignore any other scratch/work dirs
work/

# Ignore editor/OS cruft
.DS_Store
*.swp

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Python build artifacts
*.egg-info/
dist/
build/
*.egg

